$beige: beige;
$white: white;
$black: black;
$blue: blue;
$aqua: aqua;
$corn: cornflowerblue;




$platinum: #DCDCDD;
$grey: #C5C3C6;
$space: #46494C;
$payne: #4c5c68;
$munsell: #1985A1;



$medium: 1070px;
$small: 400px;