<!doctype html>
{% from 'bootstrap5/nav.html' import render_nav_item %}
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css') }}">
        {% endblock %}

        <title>NFL Scoring ALT</title>
        {% endblock %}
    </head>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('home', 'Home') }}
            {{ render_nav_item('view_score', 'Explore') }}
            {{ render_nav_item('about', 'About') }}
        </div>
    </nav>


    <body>
        <!-- Your page content -->
        <div class="content">
            {% block content %}
            <h1>Hello There!</h1>
            <h2>This is the {{ thing }} theme.</h2>
            <h4>Light should be Simplex (13)</h4>
            <h4>Dark should be Darkly (3)</h4>
            {% endblock %}
        </div>

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
        {% endblock %}
    </body>
</html>