<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles/styles.min.css"/>
    <script src="../static/scripts/jquery.js"></script>
    <script src="../static/scripts/homeRequest.js"></script>
    <title>Hardie's Site</title>
</head>



<body id="body">
    <header id="header">
        <h1 id="main-name">Hardie <span id="last-name">Parham</span></h1>
        <ul id="nav-bar-list">
            <button class="nav-bar-item" id="btn_home">Home</button>
            <button class="nav-bar-item" id="btn_personal_life">Personal Life</button>
            <button class="nav-bar-item" id="btn_work_history">Work History</button>
            <button class="nav-bar-item" id="btn_programming">Programming</button>
            <button class="nav-bar-item" id="btn_contact">Contact</button>    
        </ul>
        </nav>
    </header>


    <div id="content-container">
        <!-- Ajax request info goes here! -->
    </div>


    <footer id="footer">
        <p id="footer-text">Custom coded by Hardie Parham in 2023 😄</p>
    </footer>
</body>

<script src="../static/scripts/pageRequests.js"></script>

</html>