<h1>This is the game template!</h1>


<p>2022 - Week 1 = game 1</p>
<p>ATL - NOR</p>
<p>Original</p>
<p>q1, 7:45  7 - 0</p>
<p>q2, 2:34  10 -0</p>
<p>q3, 9:10  10 - 3</p>
<p>final, 20-3</p>
<br>
<p>New</p>
<p>q1, 7:45  0 - 0</p>
<p>q2, 2:34  20 - 0</p>
<p>q3, 9:10  30 - 0</p>
<p>final, 0:00  45 - 0</p>


<h1>{{ game.id  }}</h1>
{{ game.season  }}
{{ game.week  }}
{{ game.number  }}
{{ game.team_a  }}
{{ game.team_b  }}
{{ game.original_score_a  }}
{{ game.original_score_b  }}
{{ game.new_score_a  }}
{{ game.new_score_b  }}
{{ game.different_result  }}
{% print(game.id) %}

